{% include 'base.html' %}
{% load static %}

{% block scripts %}
     <script src="{% static '/scripts/channels_js.js' %}"></script>
{% endblock %}


{% block container %}


    <div class="h-3/4 w-1/2 flex flex-row mt-2 ml-2">
        <div class="user-input w-3/4">
            <input type="text" id="user-input" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
{#            <button type="submit" id="user-btn" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Szukaj książki</button>#}
        </div>
        <button type="submit" id="user-btn" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Search</button>
    </div>

    <div class="h-3/4 w-1/2 flex flex-col mt-2 ml-2 items-center">
        <div class="spinner invisible" id="spinner">
            <div class="loader"></div>
        </div>
        <div class="spinner invisible">
            <div class="loader"></div>
        </div>
    </div>

    <div id="results" class="mt-4 gap-4 space-x-2">

    </div>

{% endblock %}