{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Template - {% block title %}Welcome{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles/wheel.css' %}">
    {% endblock %}

    {% block scripts %}
{#        <script src="{% static 'scripts/bootstrap.min.js' %}"></script>#}
        <script src="https://cdn.tailwindcss.com"></script>
    {% endblock %}
</head>
<body class="bg-slate-500">

<div>
    <a href="{% url 'dashboard:home' %}">DASHBOARD</a>
</div>
<div>
    <a href="{% url 'users:login' %}">LOGIN</a>
</div>
<div>
    <a href="{% url 'users:register' %}">REGISTER</a>
</div>
<div>
    <a href="{% url 'home:home' %}">HOME</a>
</div>



{% block container %}{% endblock %}





</body>
</html>